* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: -0.02em;
}

a {
  font-size: 18px;
  line-height: 20px;
  color: #8492a6;
  text-decoration: none;
}

/* ▼ WHERE YOUR CODE BEGINS */
/*
  뭘 해야할지 먼저 생각을 해야한다.
  1. 동그라미
  2. 왼쪽 패딩
  3. 메뉴 가로배치
  4. 메뉴별 간격
  5. 메뉴의 두께
  6. 선택된 상태에서
    1. 보더
    2. 색깔
  7. 전체 아래 회색선
*/

ul {
  list-style-type: none;
  padding-left: 0;
}

.tab-menu {
  max-width: 540px;
  border-bottom: 1px solid #e5eaef;
}

.tab-menu::after {
  content: '';
  display: block;
  clear: left;
}

.tab-menu-item {
  float: left;
  margin-right: 15px;
}

.tab-menu-item a {
  display: block;
  padding: 16px 20px;
}

.tab-menu-item.selected {
  border-bottom: 2px solid #2860e1;
}

.tab-menu-item.selected a {
  color: #2860e1;
  font-weight: 500;
}
